html{
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
  }

body{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}
#root
{
    height:100%;
    width:100%;
    background-color: cyan;
    display:flex;
}
.main{
    align-self: center;
    margin:auto;
    display:flex;
    flex-direction:column;
    height:80%;
    align-items: center;
    justify-content:center ;
    width:50%;
    background-color:white;
    box-shadow: 10px 10px 500px yellow;
    border-radius: 100px;
}
.inpt
{
    width: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    outline:none;
    border-radius: 10px;
    padding:8px;
    text-align: center;
    font-weight: bold;
    border-width: 0px;
    color:blueviolet;
    background-color:rgba(230,230,230);
}
.inpt::placeholder{
    color:blueviolet;
}
.btn
{
    border-color: blueviolet;
    background-color: blueviolet;
    width:90px;
    border-radius: 30px;
    padding:5px;
    outline:none;
    color:white;
    cursor:pointer;
}
.txt
{
    margin-left: 20px;
    color:blueviolet;
    align-self: left;
}
.idv
{
    display:flex;
    flex-direction: row;
    width:100%;
}